I have two files, "master.csv" and "data.csv".

master.csv has a single column of data in it, called "stu_number".

data.csv has like 4 columns of data, starting with the same "stu_number", then adding other columns.

I need a script to loop through the data.csv file and compare that the stu_number is in the "master.csv" file. If the stu_number is also in the 'master' file, then we consider it valid and print out that row of data to an 'output.csv' file. The output file is essentially a list of rows from the data file that match the stu_number. For matching, I'm looking to see if the stu_number exists in both files, and I don't care if a match is on row 100 or row 200. This is why doing a simple 'diff' won't help.

Example:

Master.csv stu_number 1234 1235 1236

Data.csv 1234, blah1, blah2, blah 3 1235, blah1, blah2, blah 3 1238, blah1, blah2, blah 3

Output.csv file: 1234, blah1, blah2, blah 3 1235, blah1, blah2, blah 3

(Notice there is not a 1238 record since it is not in the master file).

I could (in theory) pump this into MySQL and import / select on a join and dump it back to CSV, but that seems like 3 steps too many. I was hoping I could do this in Python.

Thanks in advance.

In [1]:
from io import StringIO
import pandas as pd
# Master.csv
master = StringIO("""stu_number
1234
1235
1236
""")
# Data.csv
data = StringIO("""stu_number,x2,x3,x4
1234,0,0,0
1235,0,0,0
1238,0,0,0
""")
# Load into pandas dataframe
df_master = pd.read_csv(master)
df_data = pd.read_csv(data)

In [2]:
df_output = df_data[df_data.stu_number.isin(df_master.stu_number)]

I'm on a similar situation but in my case the column in master is a string, and i'm trying to see if another column in another file contains words that are similar. how would you go about this problem?

Thanks in advance

In [1]:
from io import StringIO
import pandas as pd
# Master.csv
master = StringIO("""stu_number
dogs
cats
sheep
""")
# Data.csv
data = StringIO("""stu_number,x2,x3,x4
horse,1,0,0
dogs,2,0,0
cats,3,0,0
""")
# Pandas query
df_master = pd.read_csv(master)
df_data = pd.read_csv(data)
df_output = df_data[df_data.stu_number.isin(df_master.stu_number)]
df_output.to_csv("Output.csv")

In [6]:
print(df_output)

  stu_number  x2  x3  x4
1       dogs   2   0   0
2       cats   3   0   0